
client/node_modules/
client/.eslintcache
client/.env
client/.DS_Store
client/src/.DS_Store


server/node_modules/
server/config/db.js
server/config/google.json
server/config/session_db.json
server/sessions/
server/.DS_Store
